# Python bytecode
*.pyc

# 本地测试
test.py

# 配置
config/

# 输出
output/
*.AppImage

# 打包
dist/
build/
tmp-hx-build/

# Logs
*.log

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/
